{% import "form_macro.html.twig" as form %}
{% set suffix_val = "_login" %}

{# Modal included in base.html.twig #}
{% block login %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-2">
                    <h3 class="modal-title text-center">Connexion</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        {# <span aria-hidden="true">&times;</span> #}
                    </button>
                </div>

                <div class="modal-body">
                    {# DIV MSG #}
                    <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill m-2" id="msg{{suffix_val}}">{{msg_login.error}}</div></div>

                    {# FORM : path create here to submit form by Ajax (json) #}
                    <form action="connexion" method="POST" class="needs-validation text-center mx-5 my-3" id="form{{suffix_val}}" novalidate>
                        {{ form.token }}

                        {{ form.input({name: "email", label: "votre email", value: post.email, type: "email", error_text: msg_login.email}, {class: "text-left", suffix: suffix_val, placeholder:"Email"}, "required") }}

                        {{ form.input({name: "password", label: "votre mot de passe", value: "", type: "password", error_text: msg_login.password}, {class: "text-left", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}

                        {{ form.button_login() }}
                    </form>
                </div>

                <div class="text-center text-muted delimiter"></div>

                <div class="modal-footer d-flex justify-content-center py-3">
                    <div class="signup-section text-center">Vous n'avez pas encore de compte ? <a href="inscription" class="a_text">Inscription</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{# if view to login  #}

{# 
{% block main %}
    <h2>Connexion</h2>

    {% if msg_login.error %}
        <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill my-2" id="error{{suffix_val}}">{{msg_login.error}}</div></div>
    {% endif %}
    
    <form action="" method="POST" id="login_form" class="needs-validation text-center col-xl-6 col-lg-8 col-10 mx-auto my-3" novalidate>
        {{ form.token }}

        {{ form.input({name: "email", label: "votre email", value: post.email, type: "email", error_text: msg_login.email}, {class: "text-left", placeholder:"Email"}, "required") }}

        {{ form.input({name: "password", label: "votre mot de passe", value: "", type: "password", error_text: msg_login.password}, {class: "text-left", placeholder:"8 à 20 caractères"}, "required") }}

        {{ form.button_login() }}
    </form>

    <div class="signup-section text-center">Vous n'avez pas encore de compte ? <a href="inscription" class="red" style="text-decoration: underline;">Inscription</a></div>

{% endblock %} 
#}
