{# {% extends "base.html.twig" %} #}
{% import "form_macro.html.twig" as form %}
{% set suffix_val = "_password" %}

{# Modal included in account.html.twig #}
{% block password %}
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 class="modal-title text-center">Modification du mot&nbsp;de&nbsp;passe</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        {# <span aria-hidden="true">&times;</span> #}
                    </button>
                </div>

                <div class="modal-body">
                    {# DIV MSG #}
                    <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill m-2" id="msg{{suffix_val}}">{{msg_password.error}}</div></div>

                    {# FORM : path create here to submit form by Ajax (json) and in order to check GET edit = id user #}
                    <form action="mot-de-passe?edit={{session.user.id}}" method="POST" class="needs-validation text-center mx-5 my-3" id="form{{suffix_val}}" novalidate>
                        {{ form.token }}

                        {{ form.input({name: "old_password", label: "ancien mot de passe : ", value: "", type: "password", error_text: msg_password.old_password}, {class: "text-left", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}
                        
                        {{ form.input({name: "new_password", label: "nouveau mot de passe : ", value: "", type: "password", error_text: msg_password.new_password}, {class: "text-left", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}
                        
                        {{ form.input({name: "conf_new_password", label: "confirmez mot de passe : ", value: "", type: "password", error_text: msg_password.conf_new_password}, {class: "text-left", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}

                        {{ form.button_save({suffix: suffix_val}) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{# if view to edit password #}

{# {% block title %}
    Modification du mot de passe
{% endblock %}

{% block main %}
    <h2>Modification du mot de passe</h2>
    
    {% if msg_password and msg_password is not iterable %}
        <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill mt-2 cursor_wait" id="msg{{suffix_val}}">{{msg_password}}</div></div>
    {% elseif msg_password and msg_password is iterable %}
        <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill mt-2" id="msg{{suffix_val}}">{{msg_password.error}}</div></div>
    {% endif %}

    {# path create here in order to check GET edit = id user #}
    {# <form action="mot-de-passe?edit={{session.user.id}}" method="POST" class="needs-validation col-xl-6 col-lg-8 col-md-10 col-sm-12 col-11 p-0 mx-auto mt-5 mb-4" id="form{{suffix_val}}" novalidate>
        {{ form.token }}
        
        {{ form.input({name: "old_password", label: "ancien mot de passe : ", value: "", type: "password", error_text: msg_password.old_password}, {class: "row justify-content-between", class_label: "col-form-label", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}
        
        {{ form.input({name: "new_password", label: "nouveau mot de passe : ", value: "", type: "password", error_text: msg_password.new_password}, {class: "row justify-content-between", class_label: "col-form-label", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}
        
        {{ form.input({name: "conf_new_password", label: "confirmez mot de passe : ", value: "", type: "password", error_text: msg_password.conf_new_password}, {class: "row justify-content-between", class_label: "col-form-label", suffix: suffix_val, placeholder:"8 à 20 caractères"}, "required") }}

        <div class="row col-md-10 justify-content-center align-items-center mx-auto" id="row_btn_reset{{suffix_val}}">
            <button type="button" class="button btn btn_reset" id="btn_edit{{suffix_val}}" onclick="window.location.href='mon-compte'">Retour</button>
            {{ form.button_save({suffix: suffix_val}) }}
        </div>
    </form>
{% endblock %} #}


{# {% block javascript %}
    {{ parent() }}
    <script>
        // view password : addClass => if view to edit password, no if it's in modal
        $("#form_password .form-control").closest("div").addClass("col-sm-7");
        $("#form_password .error_form").addClass("offset-sm-5");
    </script>
{% endblock %} #}