{% extends "base.html.twig" %}
{% import "form_macro.html.twig" as form %}
{% set suffix_val = "_contact" %}

{% block title %}
    Contactez-nous
{% endblock %}

{% block main %}
    <h2>Contactez-nous</h2>
    
    {# DIV MSG : if success, msg_contact will not be an array ; if error, message will be in an array (also used to persist/empty inputs values) #}
    {% if msg_contact and msg_contact is not iterable %}
        <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill mt-2" id="msg{{suffix_val}}">{{msg_contact}}</div></div>
    {% elseif msg_contact and msg_contact is iterable %}
        <div class="d-flex justify-content-center align-items-center"><div class="badge badge-pill mt-2" id="msg{{suffix_val}}">{{msg_contact.error}}</div></div>
    {% endif %}
    
    {# FORM #}
    <form action="" method="POST" class="needs-validation col-xl-8 col-lg-10 p-0 mx-auto my-3 mt-4" novalidate>
        {{ form.token }}

        <div class="row col-md-10 m-auto">
            {{ form.input({name: "name", label: "votre nom", value: msg_contact and msg_contact is not iterable ? "" : post.name, type: "text", error_text: msg_contact.name}, {class: "col-sm-6", suffix: suffix_val, placeholder:"Nom"}, "required") }}
            
            {{ form.input({name: "subject", label: "objet", value: msg_contact and msg_contact is not iterable ? "" : post.subject, type: "text", error_text: msg_contact.subject}, {class: "col-sm-6", suffix: suffix_val, placeholder:"Motif de votre contact"}, "required") }}
        </div>

        <div class="row col-md-10 m-auto">
            {{ form.input({name: "email", label: "votre email", value: msg_contact and msg_contact is not iterable ? "" : post.action == "contact" ? post.email : "", type: "email", error_text: msg_contact.email}, {class: "col-sm-6", suffix: suffix_val, placeholder:"Pour revenir vers vous"}, "required") }}

            {{ form.input({name: "phone", label: "votre téléphone", value: msg_contact and msg_contact is not iterable ? "" : post.phone, type: "text", error_text: msg_contact.phone}, {class: "col-sm-6", suffix: suffix_val, placeholder:"Numéro à 10 chiffres"}, "required") }}
        </div>

        <div class="row col-md-10 m-auto">
            {{ form.textarea({name: "message", label: "votre message", value: msg_contact and msg_contact is not iterable ? "" : post.message, error_text: msg_contact.message, rows: "4"}, {class: "col-sm-12", class_input: "textarea", suffix: suffix_val, placeholder:"Indiquez-nous le motif de votre contact"}, "required") }}
        </div>

        <div class="row col-md-10 mx-auto div_small">
            <div class="col-6 p-0">
                <span>*</span><small>Merci de compléter tous les champs</small>
            </div>

            <div class="col-6 p-0 d-flex justify-content-end align-items-center counter{{suffix_val}}">
                <small><span id="char_counter{{suffix_val}}">0 </span> / 1500 caractères</small>
            </div>
        </div>

        <div class="row col-md-10 justify-content-center align-items-center mx-auto">
            {{ form.button_send({suffix: suffix_val, name: "action", value: "contact"}) }}
        </div>
    </form>
{% endblock %}
